<div class="navbar-ac">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-ac-brand" do %>
 <%= image_tag "ahoy-logo2.png" %>
  <% end %>

  <!-- Right Navigation -->

    <!-- Button (call-to-action) -->


  <!-- Dropdown list appearing on mobile only -->

</div>

