<section class="banner">
  <div class = "custom-container">
    <h1>Hello, we've moved on to new projects!r</h1>
    <div class="head-list inline menu">
      <p>Contact support@ahoy-code.com if you need</p>
    </div>
    <div id="cover"></div>
  </div>
</section>


<% content_for(:after_js) do %>

<script>
  $(window).scroll(function(e) {
    step = ($('body').height() - $(window).height()) / 22;
    scrollStep = parseInt($(window).scrollTop() / step);
    maskPosition = (100/22) * scrollStep;
    $('#cover').css({
      'mask-position': maskPosition + '% 50%',
      '-webkit-mask-position': maskPosition + '% 50%'
    })
  });
</script>
<% end %>
