<div class="banner">
  <div class="content-goes-here" style = "position: relative;">
  <div class="fade-in one">
    <%= image_tag "mac2.png" %>
  </div>
   <div class="fade-in two">
    Oh hi! i can fade too!
  </div>

  <div class="fade-in three">
    Oh hi! i can fade three!
  </div>
</div>
</div>











<% content_for(:after_js) do %>

<script>
  $(document).ready(function(){

  });
</script>
<% end %>
