<section class = "project-banner limpando-banner">
  <div class="container" style = "height: 100%;">
    <div class="row" style="height: 100%">
      <div class="col-md-6 flexbox" style="height: 100%">
        <div class="project-banner-content">
          <h1>Mantendo e Limpando</h1>
          <h4>UX Design / UI Design / Development</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class = "project-brand padded">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>The Concept</h1>
        <p>Elegent responsive website for a home maintenance and service company. Keeping in mind the object of the page, to inform and direct traffic to a phone line, the website is an elegent 1 page with Jscript navigation and a contact us form. The website servers as support to a real world business.</p>
      </div>
    </div>
  </div>
</section>


<section class="projects-full projects-full-expanded padded">
  <div class="container">
    <%= image_tag "limpando-full.jpg" %>
  </div>
</section>

<section class = "features padded">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6 text-right">
        <h1>Features</h1>
        <p> 1 Page Website, Clear Call to Action, Jscrip Navigation, Contact Us Form Linked to Email, 100% Responsive.</p>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>

<section class = "device-grid padded" style = "background-color: #F5F5F5;">
  <div class="device-list">
    <div class="container">
      <div class="col-md-4"><%= image_tag "limpando-iphone3.png" %></div>
      <div class="col-md-4"> <%= image_tag "limpando-iphone1.png" %></div>
      <div class="col-md-4"><%= image_tag "limpando-iphone2.png" %></div>
    </div>

  </div>

</section>


